@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 100%;
}

@layer base {
  body {
    @apply font-normal;
    @apply text-gray-900;
    @apply max-w-3xl;
    @apply bg-gray-50;
    @apply mx-auto;
  }

  main {
    @apply bg-white;
    @apply min-h-screen;
    @apply shadow-md;
    @apply pt-11;
  }

  button {
    @apply w-full;
  }

  label {
    @apply block;
  }
}

@layer utilities {
  .text-2xs {
    font-size: 0.625rem; /* 10px */
    @apply leading-none;
  }

  .text-3xs {
    font-size: 0.5rem; /* 8px */
    @apply leading-none;
  }

  .ellipsis {
    @apply overflow-hidden text-ellipsis whitespace-nowrap;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll::-webkit-scrollbar {
    display: none; /* 웹킷 기반 브라우저 */
  }
  .slider {
    @apply hide-scrollbar;
    @apply overflow-x-scroll;
  }
}
